*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}
.main-container{
    background-image: linear-gradient(to left top, rgb(189, 240, 255), white,white, rgb(189, 240, 255));
}
.color{
    background-color: rgb(70, 212, 255);
    color: white;
}
.color1{
    background-color:rgb(247, 108, 108);
    color: white;
}
.first-container{
    height: 500px;
    padding-top: 50px;
    display: grid;
   
}
.second-container{
    height: 750px;
    margin-top: 100px ;
   
   
}
.third-container{
    height: 750px;

}
.forth-container{
    margin-top: 250px;
    height: 600px;
    display: grid;
    
   
}
.fivth-container{
    height: 250px;
    margin-top: 100px;
   
}
.portfolio-img{
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 75px;
    border: 2px solid rgba(26, 26, 26, 0.493);
    box-shadow: 5px 5px 5px;
    
}
.greet{
    font-family: 'Cookie', cursive;
    font-size: 54px;
    height: 60px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
    
}
.name{
    font-family: 'Shantell Sans', cursive;
    font-size: 42px;
    text-align: center;
    margin: 0px;
    margin-left: 50px;
}
.box{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}
.bor{
    border-radius: 30px;
    border: 0px;
    font-weight:600;
}
.button-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
}
.sec-box{
  
    height: 70px;
    display: flex;
    gap: 100px;
}
.head2{
    font-family: 'Cookie', cursive;
    font-size: 55px;
text-decoration: underline;
    margin: 20px;
}
.project-img{
    width: 900px;
    margin: auto;
}
.web-link{
    width: 150px;
 
    margin: 30px auto ;
}
